<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <!--    <application>-->
    <!--        <activity android:name=".Signin">-->
    <!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
    <!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->
    <!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
    <!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
    <!--        </activity>-->
    <!--    </application>-->
</manifest>